//  pc 1300px ~ 1025px
@media screen and (max-width: 1300px) {
  .wrap {
    .visual {
      padding-top: 120px;

      .inner {
        width: 87%;

        .button-box {
          width: 300px;
          height: 300px;
          margin-top: 350px;
        }
      }
    }

    .work {
      ul {
        padding-inline: 20%;
      }
    }
  }
}
