//  pc 1300px ~ 1025px
@media screen and (max-width: 1300px) {
  .wrap {
    .visual {
      padding-top: 120px;

      .inner {
        width: 90%;

        .button-box {
          width: 300px;
          height: 300px;
          margin-top: 350px;
        }
      }
    }

    .work {
      ul {
        padding-inline: 20%;
      }
    }
  }
}

//  pc 1024px ~ 801px
@media screen and (max-width: 1024px) {
  .wrap {
    .visual {
      padding-top: 120px;

      .inner {
        .text-box {
          width: 50%;
          .title {
            font-size: 20vw;

            span {
              font-size: 23vw;
            }
          }
        }

        .button-box {
          width: 300px;
          height: 300px;
          margin-top: 350px;
        }
      }
    }

    .work {
      height: auto;

      ul {
        padding: 0% 5%;
        flex-wrap: wrap;
        justify-content: space-between;

        li {
          width: 45%;
          padding: 0;
          margin-top: 150px;

          &:nth-child(2n) {
            margin-top: 0px;
          }

          a {
            .img-box {
              clip-path: inset(0);

              &::before,
              &::after {
                display: none;
              }

              &:hover {
                img {
                  filter: brightness(100%);
                }
              }
            }

            .text-box {
              opacity: 1;
              position: static;
              margin-top: 15px;

              .title {
                font-size: 35px;
              }

              .desc {
                font-size: 16px;
                padding-top: 5px;
              }
            }
          }
        }
      }
    }
  }
}

//  tablet 800px ~ 501px
@media screen and (max-width: 800px) {
  .wrap {
    .visual {
      .inner {
        .text-box {
          padding-left: 5px;

          .sub-title {
            font-size: 25px;
          }

          .desc {
            width: 90%;
          }
        }
      }
    }

    .work {
      ul {
        li {
          width: 100%;
          padding: 0;
          margin-block: 0 50px;
        }
      }
    }

    .footer {
      h2 {
        font-size: 70px;
      }
    }
  }
}

// mobile 500px
@media screen and (max-width: 500px) {
  .wrap {
    .visual {
      height: 70vh;
      padding-top: 110px;
      .inner {
        .text-box {
          width: 100%;

          .title {
            span {
              margin-left: -20px;
            }
          }

          .sub-title {
            font-size: 20px;
            margin-top: 10px;
          }
        }

        .button-box {
          display: none;
        }
      }
    }

    .work {
      ul {
        li {
          width: 100%;
          padding: 0;
          margin-block: 0 50px;

          a {
            .text-box {
              .title {
                font-size: 30px;
              }
            }
          }
        }
      }
    }

    .footer {
      h2 {
        font-size: 60px;
      }
    }
  }
}
